#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_Kashcoind += debian/examples/*
DEB_INSTALL_MANPAGES_Kashcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Kashcoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Kashcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Kashcoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/Kashcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/Kashcoind
binary-post-install/Kashcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Kashcoin-qt
